Django==5.1.4
asgiref==3.8.1
dj-database-url==2.3.0
psycopg2==2.9.10
python-dotenv==1.0.1
whitenoise==6.8.2
crispy-bootstrap4==2024.10
django-crispy-forms==2.3
Pillow==10.4.0
cloudinary==1.42.1
django-cors-headers==4.6.0
requests==2.31.0
numpy==2.2.1
sqlparse==0.5.3
django-grip==3.5.1
google-auth==2.37.0
google-auth-oauthlib==1.2.1
PyJWT==2.10.1
cachetools==5.5.0
oauthlib==3.2.2
requests-oauthlib==2.0.0
