Django==5.1.4
asgiref==3.8.1
dj-database-url==2.3.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
whitenoise==6.8.2
crispy-bootstrap4==2024.10
django-crispy-forms==2.3
Pillow==11.1.0
cloudinary==1.42.1
django-cors-headers==4.6.0
