{% extends 'index.html' %}
{% load static %}

{% block Content %}
    <div class="container">
        <h1>Dashboard</h1>

        <form>
            <label for="match"></label><input id="match" placeholder="Match" type="text">
            <button id="match_button" type="button">Submit</button>
        </form>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Team</th>
                <th scope="col">Auto Total</th>
                <th scope="col">Auto Leave</th>
                <th scope="col">L1</th>
                <th scope="col">L2</th>
                <th scope="col">L3</th>
                <th scope="col">L4</th>
                <th scope="col">Net</th>
                <th scope="col">Processor</th>
                <th scope="col">Removed</th>
                <th scope="col">Climb</th>
                <th scope="col">Defense</th>
            </tr>
            </thead>
            <tbody id="dashboardTable">
            </tbody>
        </table>
    </div>
{% endblock %}

{% block Scripts %}
    <script src="{% static "dashboard.js" %}"></script>
{% endblock %}
