{% extends 'index.html' %}
{% load static %}

{% block Content %}
    <div class="container">
        <h1>Dashboard</h1>
        <form>
            <div class="row">
                <div class="col-md-3">
                    <select id="quantifier" class="form-select">
                        <option value="Prac">Practice</option>
                        <option value="Quals" selected>Qualifications</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <input id="match" class="form-control" placeholder="Match Number" type="text">
                </div>
                <div class="col-md-3">
                    <button id="match_button" class="btn btn-primary" type="button">Load Data</button>
                </div>
            </div>
        </form>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Team</th>
                    <th>Auto Total</th>
                    <th>Auto Leave</th>
                    <th>L1</th>
                    <th>L2</th>
                    <th>L3</th>
                    <th>L4</th>
                    <th>Net Total</th>
                    <th>Auto Missed</th>
                    <th>Processor</th>
                    <th>Removed</th>
                    <th>Climb</th>
                    <th>Total</th>
                    <th>Defense</th>
                    <th>Start Pos</th>
                </tr>
            </thead>            
            <tbody id="dashboardTable">
            </tbody>
        </table>
    </div>
{% endblock %}

<style>
    .table thead th {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background: #f8f9fa;
        z-index: 10;
        box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
    }
    
    .table-responsive {
        max-height: 600px;
        overflow: auto;
    }
</style>

{% block Scripts %}
    <script src="{% static 'strategy/dashboard.js' %}"></script>
{% endblock %}
