{% extends 'index.html' %}
{% load static %}

{% block Title %}Picklist{% endblock %}

{% block Styles %}
    <style>
        td {
            white-space: nowrap;
        }

        th {
            white-space: nowrap;
        }

        p {
            display: inline;
            line-height: 35px;
        }
        .picklist_teams {
            list-style: none;
            border: 1px solid black;
            background-color: gray;
        }
    </style>
{% endblock %}

{% block Content %}
    <ul id="sortable">
        {% for team in teams %}
            <li draggable="true", ondragstart="onDragStart(event)", class="picklist_teams">
                <p>{{ team }}</p>
                <input type="checkbox">
            </li>
            <br>
        {% endfor %}
    </ul>
    <button onclick="save()">Save</button>
{% endblock %}

{% block Scripts %}
    <script src="{% static "picklist.js" %}"></script>
{% endblock %}