{% extends 'index.html' %}
{% load static %}

{% block Title %}Rankings{% endblock %}

{% block Styles %}
    <style>
        td {
            white-space: nowrap;
        }

        th {
            white-space: nowrap;
        }
    </style>
{% endblock %}

{% block Content %}
    <div class="table-responsive">
        <table class="table" id="rankings_table">
            <thead>
                <tr class="sticky-top" style="background-color: gray">
                    <th>Rank</th>
                    <th onclick="sortTable(1, 'team_number')">Team Number</th>
                    <th onclick="sortTable(2, 'autoleave')">Auto Leave</th>
                    <th onclick="sortTable(3, 'auto')">Auto Total</th>
                    <th onclick="sortTable(4, 'L1')">L1 Total</th>
                    <th onclick="sortTable(5, 'L2')">L2 Total</th>
                    <th onclick="sortTable(6, 'L3')">L3 Total</th>
                    <th onclick="sortTable(7, 'L4')">L4 Total</th>
                    <th onclick="sortTable(8, 'net')">Net Total</th>
                    <th onclick="sortTable(9, 'processor')">Processor</th>
                    <th onclick="sortTable(10, 'removed')">Removed</th>
                    <th onclick="sortTable(11, 'climb')">Climb</th>
                    <th onclick="sortTable(12, 'total')">Total</th>
                    <th onclick="sortTable(13, 'defense')">Defense</th>
                    <th onclick="sortTable(14, 'start_pos')">Start Position</th>
                </tr>
            </thead>
            <tbody>
                {% for team_number, team_stats in team_averages.items %}
                    <tr class="data">
                        <td class="rank">{{ forloop.counter }}</td>
                        <td><a href="{% url "team_page" team_number %}">{{ team_number }}</a></td>
                        <td class="autoleave">{{ team_stats.autoleave }}</td>
                        <td class="auto">{{ team_stats.auto }}</td>
                        <td class="L1">{{ team_stats.L1 }}</td>
                        <td class="L2">{{ team_stats.L2 }}</td>
                        <td class="L3">{{ team_stats.L3 }}</td>
                        <td class="L4">{{ team_stats.L4 }}</td>
                        <td class="net">{{ team_stats.net }}</td>
                        <td class="processor">{{ team_stats.processor }}</td>
                        <td class="removed">{{ team_stats.removed }}</td>
                        <td class="climb">{{ team_stats.climb }}</td>
                        <td class="total">{{ team_stats.total }}</td>
                        <td class="defense">{{ team_stats.defense }}</td>
                        <td class="start_pos">{{ team_stats.start_pos }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block Scripts %}
    <script src="{% static "ranking.js" %}"></script>
{% endblock %}